    <div class="title text-center">
      <h1>Book Details</h1>
    </div>
    <table class="table table-striped text-center">
      <thead>
        <th scope="col">ID</th>
        <th scope="col">Author Name</th>
        <th scope="col">Date of Birth</th>
      </thead>
      <tbody>
        <tr>
          <td><%=  @author.id  %> </td>
         <td><%=  @author.first_name %> <%=  @author.last_name %> </td>
          <td><%=  @author.dob  %> </td>

        </tr>
        <tr>
    </table>


    <td>
      <div>
        <a class="btn btn-primary item-center" type="submit" href="/book">Go Back</a>
      </div>
    </td>
    <tbody>
    </table>