<div class="title text-center">
  <h1>Products List</h1>
</div>
<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Product Name</th>
    <th scope="col">Price</th>
  </thead>
  <tbody><% for p in @products %> <tr>
      <td><%=  p.id  %> </td>
      <td><%=  p.name  %> </td>
      <td><%=  p.price %> </td>
      <td>
        <div>
          <a class="btn btn-primary" type="submit" href="/product/<%=  p.id  %>">Show Details </a>
        </div>
      </td>
    </tr>
    <tr><% end %>
  <tbody>