<div class="center">
    

		<span class="number">
        <h1 class= "item-title"><%= @item.title %></h1>
        <h1>Total orders : </h1>
        <%= @total %>
        <br>
        
        <h1>Total Quantity : </h1>
        <%= @total_quantity %>
        </span>
</div>
